/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Roboto&display=swap');

/* font-family: 'Bangers',
cursive;
font-family: 'Roboto',
sans-serif; */

/* --------- Global style */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* Global variables */
:root {
    --main-font-style: 'Bangers', cursive;
    --second-font-style: 'Roboto', sans-serif;
    --main-font-color:
}

body {
    background: url('../images/1125.jpg');
}

/* --------- Heading */
main {
    position: relative;
}

.heading {
    font-family: var(--main-font-style);
    color: #445361;
    text-align: center;
    font-size: 2.5rem;
}

h2 {
    font-family: var(--second-font-style);
}

.game-area {
    background-color: transparent;
    display: flex;
    flex-direction: column;
}

.score-area {
    margin: 5px auto;
    width: 60%;
    font-size: 1.2rem;
}

.controls-area,
.score-area,
h2 {
    display: flex;
    justify-content: center;
}

#score {
    color: green;
    font-weight: bold;
}

#incorrect {
    color: red;
    font-weight: bold;
}

.answer-message {
    display: none;
    font-size: 1rem;
}

.scores {
    display: inline-block;
    padding: 25px;
}

/* --------- Buttons */

.btn {
    width: 220px;
    height: 60px;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: white;
}

.btn:focus {
    outline: none;
}

.btn--big {
    padding-top: 10px;
    border-radius: 50%;
    background-color: white;
    border: 10px solid;
    width: 100px;
    height: 100px;
    font-size: 3.2rem;
    margin: 0 30px;
    transition: all 0.5s;
}

.btn--big::after {
    content: attr(data-type);
    font-size: 1rem;
    color: #445361;
    position: relative;
    left: -0.5em;
}

.btn--blue {
    border-color: blue;
    color: blue;
}

.btn--blue:active,
.btn--blue:hover {
    background-color: darkblue;
    color: white;
}

.btn--orange {
    border-color: orange;
    color: orange;
}

.btn--orange:active,
.btn--orange:hover {
    background-color: darkorange;
    color: white;
}

.btn--red {
    border-color: red;
    color: red;
}

.btn--red:active,
.btn--red:hover {
    background-color: darkred;
    color: white;
}

.btn--green {
    border-color: green;
    color: green;
}

.btn--green:active,
.btn--green:hover {
    background-color: darkgreen;
    color: white;
}

.btn--gray {
    margin-top: 25px;
    background-color: #445361;
    border: 1px transparent;
    border-radius: 20px;
}

.btn--gray:active,
.btn--gray:hover {
    background-color: #0d1013;
}

.score-area {
    margin-top: 5rem;
}

/* Footer area design */

#footer {
    position: absolute;
    bottom: 0;
    height: 3rem;
    background-color: transparent;
    width: 100%;
}

.secondary-font {
    font-family: var(--second-font-style);
}